/**
  * Three button styles: default, outlined and stripped.
  * All of the buttons include the standard button styles. See mixins.
  */

.button-default {
    @include button; /* Include standard button styles, see mixins */
    background-color: $primary-color;
    color: white;
    &:hover, &:visited, &:focus {
        background-color: darken($primary-color, 10%);
    }
    &:active {
        background-color: darken($primary-color, 12%);
    }
}

.button-outlined {
    @include button; /* Include standard button styles, see mixins */
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
    &:hover, &:visited, &:focus {
        color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
    }
    &:active {
        color: darken($primary-color, 12%);
        border-color: darken($primary-color, 10%);
    }
}

.button-stripped {
    @include button; /* Include standard button styles, see mixins */
    background-color: transparent;
    color: $primary-color;
    &:hover {
        color: darken($primary-color, 10%);
    }
    &:visited, &:focus {
        text-decoration: underline;
        color: darken($primary-color, 10%);
    }
    &:active {
        color: darken($primary-color, 12%);
    }
}

.button-full-width {
    display: block;
    width: 100%;
}