/**
  * display-block @ specific viewport.
  */

.show-pp,
.show-pl,
.show-tp,
.show-tl,
.show-dt,
.show-pp-block,
.show-pp-inline,
.show-pp-inline-block,
.show-pl-block,
.show-pl-inline,
.show-pl-inline-block,
.show-tp-block,
.show-tp-inline,
.show-tp-inline-block,
.show-tl-block,
.show-tl-inline,
.show-tl-inline-block,
.show-dt-block,
.show-dt-inline,
.show-dt-inline-block {
    display: none !important;
}

@media(max-width: $phone-landscape-size - 1) {
    .show-pp, .show-pp-block {
        display: block !important;
    }
    .show-pp-inline-block {
        display: inline-block !important;
    }
    .show-pp-inline {
        display: inline !important;
    }
}
@media(min-width: $phone-landscape-size) and (max-width: $tablet-portrait-size - 1) {
    .show-pl, .show-pl-block {
        display: block !important;
    }
    .show-pl-inline-block {
        display: inline-block !important;
    }
    .show-pl-inline {
        display: inline !important;
    }
}
@media(min-width: $tablet-portrait-size) and (max-width: $tablet-landscape-size - 1) {
    .show-tp, .show-tp-block {
        display: block !important;
    }
    .show-tp-inline-block {
        display: inline-block !important;
    }
    .show-tp-inline {
        display: inline !important;
    }
}
@media(min-width: $tablet-landscape-size) and (max-width: $desktop-size - 1) {
    .show-tl, .show-tl-block {
        display: block !important;
    }
    .show-tl-inline-block {
        display: inline-block !important;
    }
    .show-tl-inline {
        display: inline !important;
    }
}
@media(min-width: $desktop-size) {
    .show-dt, .show-dt-block {
        display: block !important;
    }
    .show-dt-inline-block {
        display: inline-block !important;
    }
    .show-dt-inline {
        display: inline !important;
    }
}

/**
  * display: none @ specific viewport.
  */

@media(max-width: $phone-landscape-size - 1) {
    .hide-pp {
        display: none !important;
    }
}
@media(min-width: $phone-landscape-size) and (max-width: $tablet-portrait-size - 1) {
    .hide-pl {
        display: none !important;
    }
}
@media(min-width: $tablet-portrait-size) and (max-width: $tablet-landscape-size - 1) {
    .hide-tp {
        display: none !important;
    }
}
@media(min-width: $tablet-landscape-size) and (max-width: $desktop-size - 1) {
    .hide-tl {
        display: none !important;
    }
}
@media(min-width: $desktop-size) {
    .hide-dt {
        display: none !important;
    }
}

/**
  * Clearfix
  */

.clearfix {
    @include clearfix;
}

/**
  * Floats
  */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/**
  * Text aligns @ specific viewport
  */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@media(max-width: $phone-landscape-size - 1) {
    .text-pp-center {
        text-align: center;
    }
    .text-pp-left {
        text-align: left;
    }
    .text-pp-right {
        text-align: right;
    }
}

@media(min-width: $phone-landscape-size) and (max-width: $tablet-portrait-size - 1) {
    .text-pl-center {
        text-align: center;
    }
    .text-pl-left {
        text-align: left;
    }
    .text-pl-right {
        text-align: right;
    }
}

@media(min-width: $tablet-portrait-size) and (max-width: $tablet-landscape-size - 1) {
    .text-tp-center {
        text-align: center;
    }
    .text-tp-left {
        text-align: left;
    }
    .text-tp-right {
        text-align: right;
    }
}

@media(min-width: $tablet-landscape-size) and (max-width: $desktop-size - 1) {
    .text-tl-center {
        text-align: center;
    }
    .text-tl-left {
        text-align: left;
    }
    .text-tl-right {
        text-align: right;
    }
}

@media(min-width: $desktop-size) {
    .text-dt-center {
        text-align: center;
    }
    .text-dt-left {
        text-align: left;
    }
    .text-dt-right {
        text-align: right;
    }
}

/**
  * Test classes for the grid and elements
  */

.show-elements {
    outline: 1px solid rgba(#000, 0.3);
    * {
        outline: 1px solid rgba(blue, 0.4);
    }
}

.test-block {
    &:before {
        content: "Test";
        margin: 0 auto;
        display: block;
        padding: 3rem 0;
        text-align: center;
        opacity: 0.6;
        vertical-align: middle;
        background-color: $soft-gray;
        border-radius: $small-radius;
        margin-bottom: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}