/**
  * Unordered lists, Ordered lists, Description lists + tags
  */

ul, ol, dl {
    margin: 0 0 1.3em 0;
    padding: 0;
    list-style-position: inside;
    &:not(ol) {
        list-style-type: circle;
    }
    li {
        margin-bottom: 0.3em;
    }
    dt {
        margin-top: 0.3em;
    }
    dd {
        margin-left: 2rem;
    }

    // Nested, add padding left
    ul, ol, dl {
        margin: 0.5rem 0 0.4rem;
        padding-left: 2rem;
        font-size: 90%;
    }
}