/*
 * Standard tables'n shit
 */

table {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    caption {
        padding: 0.4rem 0;
        text-align: left;
    }
    > thead {
        > tr {
            > th {
                text-align: left;
                padding: 0.6rem 0;
                vertical-align: top;
                font-weight: $font-weight-bold;
                border-bottom: 1px solid $soft-gray;
            }
        }
    }
    > tbody {
        > tr {
            > td {
                text-align: left;
                padding: 0.6rem 0;
                vertical-align: top;
                border-bottom: 1px solid $soft-gray;
            }
        }
    }
}