/**
  * Table styling
  * * * thead, tbody, tfoot
  */

table {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    margin-bottom: 1.3em;
    thead {
        tr {
            th {
                text-align: left;
                padding: 0.6rem 0;
                vertical-align: top;
                font-weight: $font-weight-bold;
                border-bottom: 1px solid $soft-gray;
            }
        }
    }
    tbody {
        tr {
            td, th {
                text-align: left;
                padding: 0.6rem 0;
                vertical-align: top;
                border-bottom: 1px solid $soft-gray;
                &:not(td) {
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
    tfoot {
        tr {
            td {
                font-weight: $font-weight-bold;
                text-align: left;
                padding: 0.6rem 0;
                vertical-align: top;
                border-bottom: none;
            }
        }
    }
}