/**
  * Fix outlines on focus & visited
  */

*:focus, *:visited {
    outline: none !important;
}

/**
  * Pargraphs & links
  */

p {
    margin-top: 0;
    margin-bottom: 1.3em;
    font-size: 1em;
}

a {
    color: $primary-color;
    outline: none;
    &:hover, &:focus, &:visited {
        color: darken($primary-color, 15%);
        outline: none;
    }
}

/**
  * Summary & Split
  */

/* Bumps up the font-size and decreases font-weight */
.summary {
    font-size: 1.1em;
    font-weight: $font-weight-bold;
    @media (min-width: $size-switch) {
        font-size: 1.1429em;
        font-weight: $font-weight-light;
    }
}


/** 
  * Breaks a text element into two columns until $phone-landscape-size is reached
  */
  
.split {
    column-count: 0;
    column-gap: 0;
    @media (min-width: $size-switch) {
        column-count: 2;
        column-gap: 1rem;
    }
}

/**
  * Headings & corresponding classes
  */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    color: $heading-color;
    font-family: $heading-font-family;
}

h1, .h1 {
    &:not(.h1) {
        margin-top: 0;
    }
    font-size: $h1;
}

h2, .h2 {
    font-size: $h2;
}

h3, .h3 {
    font-size: $h3;
}

h4, .h4 {
    font-size: $h4;
}

h5, .h5 {
    font-size: $h5;
}

small, h6, .h6 {
    font-size: $h6;
}

/**
  * Blockquotes with a footer
  */

blockquote {
    border-left: 4px solid $primary-color;
    padding: 0.2em 0 0.2em 1em;
    margin: 1em 0 1.3em 0;
    ol:last-of-type,
    p:last-of-type,
    ul:last-of-type {
        margin-bottom: 0;
    }
    footer {
        &:before {
            content: '\2014 \00A0';
        }
        margin-top: 0.5em;
        font-size: $h6;
        color: darken($medium-gray, 20%);
        cite {
            font-style: italic;
        }
    }
}

/**
  * Code, user-input and pre elements
  */

code, kbd, pre {
    font-family: $mono-font-family;
    font-size: $h5 * 0.82;
    border-radius: $small-radius;
}

code {
    padding: 0 0.5em;
    display: inline-block;
    background: $soft-gray;
    vertical-align: baseline;
}

kbd {
    padding: 0 0.5em;
    display: inline-block;
    background: $body-copy-color;
    vertical-align: baseline;
    color: white;
}

pre {
    padding: 0.7rem 1rem;
    display: block;
    background-color: $soft-gray;
    line-height: $line-height-normal;
    overflow: auto;
    white-space: pre;
    code, kbd {
        font-size: inherit;
        background-color: transparent;
    }
}

/**
  * Dropcap
  */

.dropcap:first-letter {
    font-size: 3em;
    float: left;
    margin-top: 0;
    @-moz-document url-prefix() {
        margin-top: 9px; /* fix FireFox margin */
    }
    margin-right: 0.5rem;
    line-height: 1;
    margin-left: -0.2rem;
    text-transform: uppercase;
}