/**
  * Typography by type-scale.com
  */

html {
    font-size: $remsize-small; /* Small rem-size */
    @media(min-width: $tablet-portrait-size) {
        font-size: $remsize-normal; /* Regular font-size */
    }
}

body {
    font-family: $base-font-family;
    font-weight: $font-weight-normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: $line-height-normal;
    font-size: $emsize-small; /* Small font-size */
    color: $body-copy-color;
    @media(min-width: $tablet-portrait-size) {
        font-size: $emsize-normal; /* Regular font-size */
    }
}

p {
    margin-top: 0;
    margin-bottom: 1.3em;
    font-size: 1em;
}

.lead {
    font-size: 1.1429em;
    font-weight: $font-weight-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    font-size: 3.157em;
}

h2 {
    font-size: 2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

h5 {
    font-size: 1em;
    font-weight: $font-weight-bold;
}

small,
h6 {
    font-size: 0.75em;
}
