/**
  * Component & Type sizing, normal and small - for phones and shit.
  */

$remsize_normal: 15px; /* Adjust this to adjust your REM sizes on tablets and larger screens, 1REM equals the size you set here. */
$emsize_normal: 18px;  /* Adjust this to adjust your EM shit on tablets and larger screens. Typically typography. 1EM equals the size you set here.*/

$remsize_small: 10px; /* Adjust this to adjust your REM sizes on phones, 1rem equals the size you set here. */
$emsize_small: 14px;  /* Adjust this to adjust your EM shit on phones. Typically typography. 1EM equals the size you set here.*/

/**
  * Breakpoints
  */

$sm-screen: 768px; /* Small screens, like vertical tablets and shit. */
$md-screen: 992px; /* Medium screens, like horizontal tablets and shit. */
$lg-screen: 1200px; /* Large ass screens, like desktops and shit, or really big ass chines phones for older people. */
$breakmargin: 20px; /* Margin along the sides for the containers, nevermind. */


/**
  * Colarzz
  */

$body-copy-color: #333;
$soft-gray: #E1E1E1;
$main-color: #007AFF;
$accent-color: #2980b9;

/**
  * Border radius
  */

$small-radius: 3px; /* Used on buttons, form elements, etc */
$large-radius: 10px; /* Not used, but will come in handy */

/**
  * Font-weights, make sure these follow the font-weights you have actually loaded.
  */

$font-light: 300;
$font-normal: 400;
$font-medium: 600;
$font-bold: 700;