/**
  * Component & Type sizing, normal and small - for phones and shit.
  */

$remsize-normal: 15px; /* Adjust this to adjust your REM sizes on tablets and larger screens, 1REM equals the size you set here. */
$emsize-normal: 20px;  /* Adjust this to adjust your EM shit on tablets and larger screens. Typically typography. 1EM equals the size you set here.*/

$remsize-small: 10px; /* Adjust this to adjust your REM sizes on phones, 1REM equals the size you set here. */
$emsize-small: 16px;  /* Adjust this to adjust your EM shit on phones. Typically typography. 1EM equals the size you set here.*/

/**
  * Line-height
  */

$line-height-normal: 1.5;  /* Default line-height */

/**
  * Breakpoints
  */

$phone-landscape-size: 480px;    /* Phone landscape minimum / Phone portrait maximum + 1 */
$tablet-portrait-size: 768px;    /* Tablet portrait minimum */
$tablet-landscape-size: 991px;   /* Tablet landscape minimum */
$desktop-size: 1200px;           /* Desktop minimum */

$breakmargin: 20px;             /* Margin that add ups to the breakpoints, you don't want to size down all the way tot he content area */


/**
  * Colarzz
  */

$body-copy-color: #333;
$soft-gray: #E1E1E1;
$primary-color: #007AFF;
$accent-color: #2980b9;

/**
  * Border radius
  */

$small-radius: 3px; /* Used on buttons, form elements, etc */
$large-radius: 10px; /* Not used, but will come in handy */

/**
  * Font-weights, you can set your own values to match your font.
  */

$font-weight-light: lighter;
$font-weight-normal: normal;
$font-weight-bold: bold;

/**
  * Base font stack
  */

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", Arial, sans-serif !default;
