/**
  * Component & Type sizing, normal and small.
  */

$remsize-normal: 15px; /* Adjust this to adjust your REM sizes on tablets and larger screens, 1REM equals the size you set here. */
$emsize-normal: 18px;  /* Adjust this to adjust your EM sizes on tablets and larger screens. EM is used for typography. 1EM equals the size you set here.*/

$remsize-small: 10px; /* Adjust this to adjust your REM sizes on phones, 1REM equals the size you set here. */
$emsize-small: 16px;  /* Adjust this to adjust your EM sizes on phones. EM is used for typography. 1EM equals the size you set here.*/

/**
  * Line-height 
  */

$line-height-normal: 1.5; 

/**
  * Paddings/borders for buttons and inputs
  */
  
$padding-input-and-button-y: 0.6rem;
$padding-input-and-button-x: 1rem;
$padding-input-and-button: $padding-input-and-button-y $padding-input-and-button-x;

$border-input-and-button: 1px; /* Borders for buttons and inputs are set to 1px by default */

/**
  * Breakpoints
  */

$phone-landscape-size: 540px;    /* Phone landscape minimum */
$tablet-portrait-size: 768px;    /* Tablet portrait minimum */
$tablet-landscape-size: 991px;   /* Tablet landscape minimum */
$desktop-size: 1200px;           /* Desktop minimum */

$breakmargin: 20px;              /* Margin added to the breakpoint */

/**
  * Colors and tints
  */

$body-copy-color: #333; /* Standard text color */
$soft-gray: #EFEFEF;
$medium-gray: #bcbcbc;
$hard-gray: #565656;
$primary-color: #426AFB;
$accent-color: #2980b9;

/**
  * Border radius
  */

$small-radius: 3px; /* Used on buttons, form elements, etc */
$large-radius: 10px; /* Not used, but will come in handy */

/**
  * Heading sizes
  */

$h1: 3.157em;
$h2: 2.369em;
$h3: 1.777em;;
$h4: 1.333em;
$h5: 1em;
$h6: 0.75em;

/**
  * Font-weights, you can set your own values to match your font.
  */

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

/**
  * Base font stack
  */

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$mono-font-family: "Lucida Console", Monaco, monospace;
