/**
  * Unordered lists & Ordered lists
  * These are considered typographic elements.
  * Paddings and margins set in EMs because the font size should dictate distances here.
  */

ul, ol {
    margin: 0 0 1em 1em;
    padding: 0;
    li {
        margin-bottom: 0.2em;
    }
    /* Extra padding for nested lists */
    ul, ol {
        margin: 0.4em 0 0.4em 1em;
    }
}

/**
  * Description lists
  */

dl {
    margin: 0 0 1em 0;
    padding: 0;
    dt {
        margin-bottom: 0.2em;
    }
    dd {
        margin: 0 0 0.2em 1em;
    }
    dl {
        margin: 0.4em 0 0.4em 1em;
    }
}