/**
  * Container
  */

@mixin container {
    margin: 0 auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    @media(min-width: $size-switch) {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

/**
  * Standard button
  */

@mixin button {
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    line-height: $base-line-height;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: $default-border-width solid transparent;
    border-radius: $default-border-radius;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    &:active {
        transform: scale(0.97);
    }
    &[disabled="true"], &[disabled="disabled"], &[disabled] {
        pointer-events: none;
        opacity: 0.5;
    }
    &.h1,
    &.h2,
    &.h3,
    &.h4,
    &.h5,
    &.h6 {
        padding-left: 0.9em;
        padding-right: 0.9em;
    }
}

/**
  * Clearfix
  */

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}