/**
  * Rem units: normal and small, defined on the <html> tag. Switches to small on $size-switch.
  * Rem's are used in Pavilion for box model sizing, positioning and adjustments.
  */

$remsize-normal: 15px;
$remsize-small: 10px;

/**
  * Em units: normal and small, defined on the <body> tag. Switches to small on $size-switch.
  * Em's are used in Pavilion for typographic elements.
  */

$emsize-normal: 18px;
$emsize-small: 16px;

/**
  * Paddings/borders for buttons and inputs.
  */
  
$padding-input-and-button-y: 0.6rem;
$padding-input-and-button-x: 1rem;
$padding-input-and-button: $padding-input-and-button-y $padding-input-and-button-x;

$border-input-and-button: 1px; /* Borders for buttons and inputs are set to 1px by default. */

/**
  * Breakpoints
  */

$phone-landscape-size: 540px;    /* Phone landscape minimum. */
$tablet-portrait-size: 768px;    /* Tablet portrait minimum. */
$tablet-landscape-size: 991px;   /* Tablet landscape minimum. */
$desktop-size: 1200px;           /* Desktop minimum. */

$breakmargin: 20px;              /* Margin added to the breakpoint. */
$size-switch: $tablet-portrait-size; /* Breakpoint at which the EM & REM sizes switch to small. */

/**
  * Colors and tints.
  */

$body-copy-color: #333; /* Standard text color. */
$heading-color: $body-copy-color;

$soft-gray: #EFEFEF;
$medium-gray: #BCBCBC;
$hard-gray: #565656;

$primary-color: #426AFB;
$accent-color: #2980b9;

/**
  * Border radius.
  */

$small-radius: 3px; /* Used on buttons, form elements, etc. */
$large-radius: 10px; /* Not used, but will come in handy. */

/**
  * Heading sizes with modular scaling.
  * Increase or decrease the number behind the decimal point.
  * For scale ratios see: http://type-scale.com/
  */

$scale-ratio: 1.200;

$h1: scale(4); 
$h2: scale(3); 
$h3: scale(2); 
$h4: scale(1); 
$h5: scale(0); /* equals 1em. */
$h6: scale(-1);

/**
  * Font-weights, you can set your own values to match your font.
  */

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/**
  * Base and heading font-weights.
  */

$base-font-weight: $font-weight-regular; 
$heading-font-weight: $base-font-weight;

/**
  * Base line-height.
  */

$base-line-height: 1.5; 

/**
  * Base and heading font stack.
  */

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-family: $base-font-family;
$mono-font-family: "Lucida Console", Monaco, monospace;
